---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [256]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

# <center>Question 1</center>

In [255]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return df

### Answer (Copied from the internet)

In [254]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    ### Define empty lists
    name_list = []
    state_town_name = []
    state_name = None
    town_name = None

    with open('university_towns.txt') as list_file: #open txt file
        for each_line in list_file: #loop over every line of this list_file
            line = each_line[:-1] 
            if line[-6:] == "[edit]":
                state_name = line[0:-6]
                continue
            if "(" in each_line:
                town_name = line[0:line.index("(")-1]
                state_town_name.append([state_name, town_name])
            else:
                town_name = line
                state_town_name.append([state_name, town_name])
            name_list.append(line)
    df = pd.DataFrame(state_town_name, columns=["State", "RegionName"])
    
    return df

### Own solution

#### Read the txt file as list seperate by lines from the text file

In [112]:
file = open("university_towns.txt", "r")
df = file.readlines()

#### Delete the string in each line of the list after '[' and '('. All of the following three methods works

Method 1 - Loop

In [78]:
for i in range(len(df)):
    df[i] = df[i].split(' (',1)[0].split('[',1)[0]

Method 2 - List comprehension

In [79]:

df = map(lambda x: x.split(' (',1)[0].split('[',1)[0], df)

Method 3 - map and lambda

In [113]:
df = [x.split(' (',1)[0].split('[',1)[0] for x in df]

In [114]:
list(df)

['Alabama',
 'Auburn',
 'Florence',
 'Jacksonville',
 'Livingston',
 'Montevallo',
 'Troy',
 'Tuscaloosa',
 'Tuskegee',
 'Alaska',
 'Fairbanks',
 'Arizona',
 'Flagstaff',
 'Tempe',
 'Tucson',
 'Arkansas',
 'Arkadelphia',
 'Conway',
 'Fayetteville',
 'Jonesboro',
 'Magnolia',
 'Monticello',
 'Russellville',
 'Searcy',
 'California',
 'Angwin',
 'Arcata',
 'Berkeley',
 'Chico',
 'Claremont',
 'Cotati',
 'Davis',
 'Irvine',
 'Isla Vista',
 'University Park, Los Angeles',
 'Merced',
 'Orange',
 'Palo Alto',
 'Pomona',
 'Redlands',
 'Riverside',
 'Sacramento',
 'University District, San Bernardino',
 'San Diego',
 'San Luis Obispo',
 'Santa Barbara',
 'Santa Cruz',
 'Turlock',
 'Westwood, Los Angeles',
 'Whittier',
 'Colorado',
 'Alamosa',
 'Boulder',
 'Durango',
 'Fort Collins',
 'Golden',
 'Grand Junction',
 'Greeley',
 'Gunnison',
 'Pueblo, Colorado',
 'Connecticut',
 'Fairfield',
 'Middletown',
 'New Britain',
 'New Haven',
 'New London',
 'Storrs',
 'Willimantic',
 'Delaware',
 'Dover',
 'Newark',
 'Florida',
 'Ave Maria',
 'Boca Raton',
 'Coral Gables',
 'DeLand',
 'Estero',
 'Gainesville',
 'Orlando',
 'Sarasota',
 'St. Augustine',
 'St. Leo',
 'Tallahassee',
 'Tampa',
 'Georgia',
 'Albany',
 'Athens',
 'Atlanta',
 'Carrollton',
 'Demorest',
 'Fort Valley',
 'Kennesaw',
 'Milledgeville',
 'Mount Vernon',
 'Oxford',
 'Rome',
 'Savannah',
 'Statesboro',
 'Valdosta',
 'Waleska',
 'Young Harris',
 'Hawaii',
 'Manoa',
 'Idaho',
 'Moscow',
 'Pocatello',
 'Rexburg',
 'Illinois',
 'Carbondale',
 'Champaignâ€“Urbana',
 'Charleston',
 'DeKalb',
 'Edwardsville',
 'Evanston',
 'Lebanon',
 'Macomb',
 'Normal',
 'Peoria',
 'Indiana',
 'Bloomington',
 'Crawfordsville',
 'Greencastle',
 'Hanover',
 'Marion',
 'Muncie',
 'Oakland City',
 'Richmond',
 'South Bend',
 'Terre Haute',
 'Upland',
 'Valparaiso',
 'West Lafayette',
 'Iowa',
 'Ames',
 'Cedar Falls',
 'Cedar Rapids, Iowa',
 'Decorah',
 'Fayette',
 'Grinnell',
 'Iowa City',
 'Lamoni',
 'Mount Vernon,',
 'Orange City',
 'Sioux Center',
 'Storm Lake',
 'Waverly',
 'Kansas',
 'Baldwin City',
 'Emporia',
 'Hays',
 'Lawrence',
 'Manhattan',
 'Pittsburg',
 'Kentucky',
 'Bowling Green',
 'Columbia',
 'Georgetown',
 'Highland Heights',
 'Lexington',
 'Louisville',
 'Morehead',
 'Murray',
 'Richmond',
 'Williamsburg',
 'Wilmore',
 'Louisiana',
 'Baton Rouge',
 'Grambling',
 'Hammond',
 'Lafayette',
 'Monroe',
 'Natchitoches',
 'Ruston',
 'Thibodaux',
 'Maine',
 'Augusta',
 'Bar Harbor',
 'Brunswick',
 'Farmington',
 'Fort Kent',
 'Gorham',
 'Lewiston, Maine',
 'Orono',
 'Waterville',
 'Maryland',
 'Annapolis',
 'Chestertown',
 'College Park',
 'Cumberland',
 'Emmitsburg',
 'Frostburg',
 'Princess Anne',
 'Towson',
 'Salisbury',
 'Westminster',
 'Massachusetts',
 'Boston',
 'Bridgewater',
 'Cambridge',
 'Chestnut Hill',
 'The Colleges of Worcester Consortium:\n',
 'Dudley',
 'North Grafton',
 'Paxton',
 'Worcester',
 'The Five College Region of Western Massachusetts:\n',
 'Amherst',
 'Northampton',
 'South Hadley',
 'Fitchburg',
 'North Adams',
 'Springfield',
 'Waltham',
 'Williamstown',
 'Framingham',
 'Michigan',
 'Adrian',
 'Albion',
 'Allendale',
 'Alma',
 'Ann Arbor',
 'Berrien Springs',
 'Big Rapids',
 'East Lansing',
 'Flint',
 'Hillsdale',
 'Houghton',
 'Kalamazoo',
 'Marquette',
 'Midland',
 'Mount Pleasant',
 'Olivet',
 'Saginaw',
 'Sault Ste. Marie',
 'Spring Arbor',
 'Ypsilanti',
 'Minnesota',
 'Bemidji',
 'Crookston',
 'Duluth',
 'Faribault, South Central College\n',
 'Mankato',
 'Marshall',
 'Moorhead',
 'Morris',
 'Northfield',
 'North Mankato, South Central College\n',
 'St. Cloud',
 'St. Joseph',
 'St. Peter',
 'Winona',
 'Mississippi',
 'Cleveland',
 'Hattiesburg',
 'Itta Bena',
 'Oxford',
 'Starkville',
 'Missouri',
 'Bolivar',
 'Cape Girardeau',
 'Columbia',
 'Fayette',
 'Fulton',
 'Kirksville',
 'Maryville',
 'Rolla',
 'Warrensburg',
 'Montana',
 'Bozeman',
 'Dillon',
 'Missoula',
 'Nebraska',
 'Chadron',
 'Crete',
 'Kearney',
 'Lincoln',
 'Peru',
 'Seward',
 'Wayne',
 'Nevada',
 'Las Vegas',
 'Reno',
 'New Hampshire',
 'New London, New Hampshire',
 'Durham',
 'Hanover',
 'Henniker',
 'Keene',
 'Plymouth',
 'Rindge',
 'New Jersey',
 'Ewing',
 'Jersey City',
 'Glassboro',
 'Hoboken',
 'Madison',
 'Newark',
 'New Brunswick',
 'Princeton',
 'Union',
 'West Long Branch',
 'New Mexico',
 'Hobbs',
 'Las Cruces',
 'Las Vegas',
 'Portales',
 'Silver City',
 'New York',
 'Alfred',
 'Albany',
 'Aurora',
 'Binghamton',
 'Brockport',
 'Buffalo',
 'Canton',
 'Clinton',
 'Cobleskill',
 'Delhi',
 'Fredonia',
 'Geneseo',
 'Geneva',
 'Hamilton',
 'Ithaca',
 'Morningside Heights, Manhattan',
 'New Paltz',
 'Oneonta',
 'Oswego',
 'Plattsburgh',
 'Potsdam',
 'Poughkeepsie',
 'Purchase',
 'Rochester',
 'Saratoga Springs',
 'Seneca Falls',
 'Stony Brook',
 'Syracuse',
 'Tivoli',
 'Troy',
 'West Point',
 'North Carolina',
 'Banner Elk',
 'Boiling Springs',
 'Boone',
 'Buies Creek',
 'Chapel Hill',
 'Cullowhee',
 'Davidson',
 'Durham',
 'Elon',
 'Greensboro',
 'Greenville',
 'Hickory',
 'Mars Hill',
 'Mount Olive',
 'Pembroke',
 'Wilmington, North Carolina',
 'Wingate',
 'Winston-Salem',
 'North Dakota',
 'Fargo',
 'Grand Forks',
 'Ohio',
 'Ada',
 'Alliance',
 'Ashland',
 'Athens',
 'Berea',
 'Bluffton',
 'Bowling Green',
 'Cedarville',
 'Columbus',
 'Delaware',
 'Fairborn',
 'Findlay',
 'Gambier',
 'Granville',
 'Hiram',
 'Kent',
 'Nelsonville',
 'New Concord',
 'Oberlin',
 'Oxford',
 'Rio Grande',
 'Wilberforce',
 'Oklahoma',
 'Ada',
 'Alva',
 'Durant',
 'Edmond',
 'Goodwell',
 'Langston',
 'Norman',
 'Stillwater',
 'Tahlequah',
 'Tulsa',
 'Weatherford',
 'Oregon',
 'Ashland',
 'Corvallis',
 'Eugene',
 'Forest Grove',
 'Klamath Falls',
 'La Grande',
 'Marylhurst',
 'McMinnville',
 'Monmouth',
 'Newberg',
 'Pennsylvania',
 'Altoona',
 'Annville',
 'Bethlehem',
 'Bloomsburg',
 'Bradford',
 'California',
 'Carlisle',
 'Cecil B. Moore, Philadelphia, also known as "Templetown"',
 'Clarion',
 'Collegeville',
 'Cresson',
 'East Stroudsburg',
 'Edinboro',
 'Erie',
 'Gettysburg',
 'Greensburg',
 'Grove City',
 'Huntingdon',
 'Indiana',
 'Johnstown',
 'Kutztown',
 'Lancaster',
 'Lewisburg',
 'Lock Haven',
 'Loretto',
 'Mansfield',
 'Meadville',
 'Mont Alto',
 'Millersville',
 'New Wilmington',
 'North East',
 'University City, Philadelphia',
 'Oakland, Pittsburgh',
 'Reading',
 'Selinsgrove',
 'Shippensburg',
 'Slippery Rock',
 'State College',
 'Villanova',
 'Waynesburg',
 'West Chester',
 'Wilkes-Barre',
 'Williamsport',
 'Rhode Island',
 'Kingston',
 'Providence',
 'South Carolina',
 'Central',
 'Charleston',
 'Clemson',
 'Clinton',
 'Columbia',
 'Due West',
 'Florence',
 'Greenwood',
 'Orangeburg',
 'Rock Hill',
 'Spartanburg',
 'South Dakota',
 'Brookings',
 'Madison',
 'Spearfish',
 'Vermillion',
 'Tennessee',
 'Chattanooga',
 'Collegedale',
 'Cookeville',
 'Harrogate',
 'Henderson',
 'Johnson City',
 'Knoxville',
 'Martin',
 'McKenzie',
 'Memphis',
 'Murfreesboro',
 'Nashville',
 'Sewanee',
 'Texas',
 'Abilene',
 'Alpine',
 'Austin',
 'Beaumont',
 'Canyon',
 'College Station',
 'Commerce',
 'Dallas',
 'Denton',
 'Fort Worth',
 'Georgetown',
 'Huntsville',
 'Houston',
 'Keene',
 'Kingsville',
 'Lubbock',
 'Nacogdoches',
 'Plainview',
 'Prairie View',
 'San Marcos',
 'Stephenville',
 'Waco',
 'Utah',
 'Cedar City',
 'Logan',
 'Provo',
 'Orem',
 'Salt Lake City',
 'Ephraim',
 'Vermont',
 'Burlington',
 'Castleton',
 'Johnson',
 'Lyndonville',
 'Middlebury',
 'Northfield',
 'Virginia',
 'Blacksburg',
 'Bridgewater',
 'Charlottesville',
 'Farmville',
 'Fredericksburg',
 'Harrisonburg',
 'Lexington',
 'Lynchburg',
 'Radford',
 'Williamsburg',
 'Wise',
 'Chesapeake',
 'Washington',
 'Bellingham',
 'Cheney',
 'Ellensburg',
 'Pullman',
 'University District, Seattle',
 'West Virginia',
 'Athens',
 'Buckhannon',
 'Fairmont',
 'Glenville',
 'Huntington',
 'Montgomery',
 'Morgantown',
 'Shepherdstown',
 'West Liberty',
 'Wisconsin',
 'Appleton',
 'Eau Claire',
 'Green Bay',
 'La Crosse',
 'Madison',
 'Menomonie',
 'Milwaukee',
 'Oshkosh',
 'Platteville',
 'River Falls',
 'Stevens Point',
 'Waukesha',
 'Whitewater',
 'Wyoming',
 'Laramie']

#### Delete the states from the list (using dictionary 'states')

In [115]:
### reverse the dictionray x:y to y:x
states = {x:y for y, x in states.items()}

### the 1st df get the abbreviation and the 2nd get the full name
### 2 arguments in total for map()
AllName = map(states.get, df, df)
StatesName = map(states.get, df)
#CountyName = 
list(AllName)
list(StatesName)

['AL',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'AK',
 None,
 'AZ',
 None,
 None,
 None,
 'AR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'CA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'CO',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'CT',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'DE',
 None,
 None,
 'FL',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'GA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'HI',
 None,
 'ID',
 None,
 None,
 None,
 'IL',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'IN',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'IA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'KS',
 None,
 None,
 None,
 None,
 None,
 None,
 'KY',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'LA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'ME',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MI',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MN',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MS',
 None,
 None,
 None,
 None,
 None,
 'MO',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'MT',
 None,
 None,
 None,
 'NE',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'NV',
 None,
 None,
 'NH',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'NJ',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'NM',
 None,
 None,
 None,
 None,
 None,
 'NY',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'NC',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'ND',
 None,
 None,
 'OH',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'DE',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'OK',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'OR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'PA',
 None,
 None,
 None,
 None,
 None,
 'CA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'IN',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'RI',
 None,
 None,
 'SC',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'SD',
 None,
 None,
 None,
 None,
 'TN',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'TX',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'UT',
 None,
 None,
 None,
 None,
 None,
 None,
 'VT',
 None,
 None,
 None,
 None,
 None,
 None,
 'VA',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WA',
 None,
 None,
 None,
 None,
 None,
 'WV',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WI',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WY',
 None]

#### Create DataFrame from two list with unequal number of elements

# <center>Question 2

In [717]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    '''A recession is defined as starting with two consecutive quarters 
    of GDP decline, and ending with two consecutive quarters of GDP growth.'''
    
    return "ANSWER"

### My solution

In [718]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    '''A recession is defined as starting with two consecutive quarters 
    of GDP decline, and ending with two consecutive quarters of GDP growth.'''
    
    df_q2 = (pd
             .read_excel("gdplev.xls") #read in excel file
             .rename(columns={"Unnamed: 4":"Year", "Unnamed: 5":"GDP"}) #rename the columns
            )

    indexRows = df_q2[df_q2["Year"] == "2000q1"].index.values.astype(int)[0] #get the index of the actual needed rows
    indexCols = df_q2.columns.get_loc("Year") #get index of the actual needed columns

    df_q2 = (df_q2
             .iloc[indexRows:len(df_q2),indexCols:indexCols+2] #slice and obtain the actual needed df
             .reset_index() #reset the index
             .drop("index", axis=1) #drop the old index
            )

    for i in range(len(df_q2)-2):

        if (df_q2.iloc[i+1,1] < df_q2.iloc[i,1]) & (df_q2.iloc[i+2,1] < df_q2.iloc[i+1,1]): #check whether next year decreases and the year after next decreases further
            RecessionStart = df_q2.iloc[i,0] #get the name of the year where the recession begins
            break
    
    return RecessionStart

get_recession_start()

'2008q3'

# <center>Question 3

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

### My solution

In [730]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    df_q2 = (pd
             .read_excel("gdplev.xls") #read in excel file
             .rename(columns={"Unnamed: 4":"Year", "Unnamed: 5":"GDP"}) #rename the columns
            )

    indexRows = df_q2[df_q2["Year"] == get_recession_start()].index.values.astype(int)[0] #get the index of the recession start
    indexCols = df_q2.columns.get_loc("Year") #get index of the actual needed columns

    df_q2 = (df_q2
             .iloc[indexRows:len(df_q2),indexCols:indexCols+2] #slice and obtain the actual needed df
             .reset_index() #reset the index
             .drop("index", axis=1) #drop the old index
            )
    
    for i in range(len(df_q2)-2):

        if (df_q2.iloc[i+1,1] > df_q2.iloc[i,1]) & (df_q2.iloc[i+2,1] > df_q2.iloc[i+1,1]): #check whether consecutive increase happens 2 years in a row 
            RecessionEnd = df_q2.iloc[i+2,0] #get the name of the year where the recession ends
            break
    
    return RecessionEnd

get_recession_end()

'2009q4'

# <center>Question 4

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

### My solution

In [798]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    df_q2 = (pd
             .read_excel("gdplev.xls") #read in excel file
             .rename(columns={"Unnamed: 4":"Year", "Unnamed: 5":"GDP"}) #rename the columns
            )

    indexRows1 = df_q2[df_q2["Year"] == get_recession_start()].index.values.astype(int)[0] #get the index of the recession starts
    indexRows2 = df_q2[df_q2["Year"] == get_recession_end()].index.values.astype(int)[0] #get the index of the recession ends
    indexCols = df_q2.columns.get_loc("Year") #get index of the actual needed columns

    df_q2 = (df_q2
             .iloc[indexRows1:(indexRows2 + 1),indexCols:indexCols+2] #slice and obtain the actual needed df
             .reset_index() #reset the index
             .drop("index", axis=1) #drop the old index
            )
    RecessionBottom = (df_q2
                       .loc[df_q2["GDP"] == df_q2["GDP"].min(), "Year"] #Return Serie containing "year" where the "GDP" is the minimum
                       .iloc[0] #Extract "Year" from Serie
                      )
    
    return RecessionBottom

get_recession_bottom()

'2009q2'

# <center>Question 5

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

### My solution

In [116]:
df = pd.read_csv("City_Zhvi_AllHomes.csv", sep=",")
x = list(range(df.columns.get_loc("RegionName"), df.columns.get_loc("State")+1)) + list(range(df.columns.get_loc("2000-01"),df.columns.get_loc("2016-08")+1))
df = (df
      .iloc[:,x] #slice the dataframe by the above list
      .sort_values("State") #sort dataframe by "State"
      .set_index(['State', 'RegionName'])) #multi-index

#calculate mean of each 3 columns: what about NaN? / probably have to use loop

                         2000-01   2000-02   2000-03   2000-04   2000-05  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         175700.0  174700.0  173500.0  173800.0  175300.0
      Palmer            169800.0  168800.0  167700.0  168500.0  170700.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           161200.0  160400.0  159900.0  161300.0  163900.0
      Lakes             173400.0  172900.0  171900.0  172400.0  174200.0
      North Pole        158900.0  157300.0  156200.0  157200.0  159400.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            191800.0  192500.0  193100.0  193500.0  194200.0
      Fairbanks         164000.0  163400.0  162200.0  162800.0  165300.0
AL    Birmingham         53900.0   54000.0   54200.0   54300.0   54400.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           105900.0  107400.0  109200.0  110200.0  110300.0
      Hope Hull         111800.0  111700.0  111500.0  111700.0  111700.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville       93800.0   93000.0   92000.0   92400.0   93700.0
      Meadowbrook       199700.0  200500.0  201300.0  202100.0  203000.0
      Northport         125700.0  125900.0  126000.0  126200.0  126300.0
      Morris            124100.0  124100.0  124000.0  123700.0  124300.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      221000.0  221700.0  222200.0  221900.0  222100.0
      Robertsdale        86600.0   86900.0   87000.0   87300.0   87700.0
      Cottondale        100500.0  100800.0  101200.0  102000.0  102700.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds              93900.0   93800.0   93800.0   94100.0   94400.0
      Homewood          157900.0  158300.0  158800.0  159100.0  159600.0
...                          ...       ...       ...       ...       ...
WI    Erin              208400.0  208300.0  209000.0  209800.0  209400.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells      75100.0   75600.0   75900.0   76600.0   77100.0
      Cross Lanes        77900.0   78500.0   78000.0   77500.0   78000.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna             71600.0   72200.0   73000.0   74000.0   74700.0
      Saint Albans       63500.0   63800.0   64200.0   64500.0   64700.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg        54700.0   54900.0   55100.0   55300.0   55900.0
      Chesapeake             NaN       NaN       NaN       NaN       NaN
      East Bank              NaN       NaN       NaN       NaN       NaN
      Belle              50900.0   51200.0   51100.0   51200.0   51300.0
      Marmet                 NaN       NaN       NaN       NaN       NaN
      Upper Falls        53600.0   53000.0   52500.0   52300.0   52500.0
      Waverly            62100.0   62500.0   62500.0   62500.0   62900.0
      Sissonville        57200.0   57200.0   57200.0   57400.0   58100.0
      Charleston         59300.0   59600.0   59700.0   59500.0   59300.0
      Clendenin          40500.0   40200.0   39200.0   38100.0   37800.0
      Washington         83400.0   83800.0   84500.0   85300.0   86100.0
      Williamstown       82200.0   82900.0   83700.0   84500.0   85300.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN       NaN       NaN       NaN       NaN
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             100900.0  101300.0  102400.0  103600.0  104400.0
      Bar Nunn           93400.0   93100.0   92600.0   91000.0   89300.0
      Evansville        128500.0  128100.0  127500.0  127700.0  128600.0
      Cheyenne          116000.0  116700.0  117900.0  119200.0  120100.0
      Casper             88400.0   89300.0   90000.0   90100.0   89600.0
      Pine Bluffs        93900.0   93400.0   93900.0   94900.0   95300.0

                         2000-06   2000-07   2000-08   2000-09   2000-10  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         176700.0  178000.0  179500.0  181200.0  182500.0
      Palmer            172500.0  173300.0  174400.0  175000.0  175200.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           165300.0  165500.0  166300.0  167300.0  167500.0
      Lakes             175800.0  176500.0  177300.0  178000.0  178400.0
      North Pole        160700.0  161000.0  162100.0  163300.0  164300.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            195200.0  195700.0  195200.0  194600.0  194200.0
      Fairbanks         167000.0  167700.0  169300.0  170900.0  171900.0
AL    Birmingham         54500.0   54700.0   55000.0   55200.0   55600.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           110100.0  110100.0  111100.0  113000.0  114500.0
      Hope Hull         112000.0  112700.0  112900.0  113300.0  113800.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville       94400.0   94200.0   93500.0   93100.0   93400.0
      Meadowbrook       203900.0  205400.0  207000.0  208000.0  209200.0
      Northport         126600.0  126700.0  126600.0  126600.0  126800.0
      Morris            125500.0  125200.0  124000.0  123500.0  124500.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      222400.0  223200.0  224200.0  224700.0  225900.0
      Robertsdale        88000.0   88300.0   89000.0   89700.0   90200.0
      Cottondale        103200.0  104000.0  104800.0  105500.0  105600.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds              94800.0   95000.0   94900.0   95300.0   95900.0
      Homewood          160300.0  160900.0  161100.0  161300.0  162800.0
...                          ...       ...       ...       ...       ...
WI    Erin              208100.0  208100.0  209600.0  211300.0  212200.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells      78000.0   79900.0   82300.0   83700.0   84500.0
      Cross Lanes        78700.0   79200.0   79300.0   79200.0   79500.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna             74900.0   75000.0   75200.0   75800.0   76300.0
      Saint Albans       64900.0   65000.0   65100.0   65500.0   65800.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg        56300.0   56600.0   56700.0   56600.0   56700.0
      Chesapeake             NaN       NaN       NaN       NaN       NaN
      East Bank              NaN       NaN       NaN       NaN       NaN
      Belle              51400.0   52100.0   52400.0   52100.0   51600.0
      Marmet                 NaN       NaN       NaN       NaN       NaN
      Upper Falls        52200.0   52000.0   52100.0   52200.0   51600.0
      Waverly            63400.0   64400.0   65400.0   66100.0   66400.0
      Sissonville        59100.0   60700.0   61600.0   61300.0   60900.0
      Charleston         59300.0   59300.0   59300.0   59500.0   59600.0
      Clendenin          38700.0   40800.0   41100.0   39600.0   38200.0
      Washington         86700.0   87400.0   88400.0   89200.0   89700.0
      Williamstown       85800.0   86100.0   86300.0   87000.0   87300.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN       NaN       NaN       NaN       NaN
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             105700.0  107000.0  108200.0  109900.0  111700.0
      Bar Nunn           88700.0   88400.0   88600.0   89700.0   91100.0
      Evansville        130000.0  130900.0  130600.0  131000.0  132300.0
      Cheyenne          120800.0  121000.0  121400.0  122200.0  123000.0
      Casper             89100.0   89000.0   89500.0   90700.0   92100.0
      Pine Bluffs        95000.0   94100.0   94200.0   95600.0   97200.0

                         ...     2015-11  2015-12  2016-01  2016-02  2016-03  \
State RegionName         ...
AK    Kenai              ...      206200   207600   208800   209800   210300
      Ketchikan          ...      196700   196600   195700   195200   195900
      Anchor Point       ...      154700   155800   156300   156200   157900
      Anchorage          ...      291600   292100   293100   293900   294100
      Palmer             ...      241300   242900   245500   247000   246700
      Seward             ...      190900   196200   199200   202900   208700
      Kodiak             ...      256900   256800   255600   254700   255400
      Tanaina            ...      218400   219800   221900   223500   223900
      Lakes              ...      243900   245400   248500   250800   251000
      North Pole         ...      206500   206500   206400   206600   206900
      Homer              ...      240200   241500   243300   243400   242800
      Soldotna           ...      219400   220500   222700   223900   223800
      Juneau             ...      319200   318900   318600   318600   319600
      Fairbanks          ...      209700   209600   208800   208700   209700
AL    Birmingham         ...       63200    62600    62400    62000    61700
      Gurley             ...      151600   152300   152800   153200   153100
      Fosters            ...      155400   153300   148400   144300   143400
      Hope Hull          ...      131700   131700   132700   133700   134700
      Lipscomb           ...       51800    51700    51400    51300    51700
      Guntersville       ...      144200   143700   143400   143200   143800
      Meadowbrook        ...      263200   263800   265000   266200   267600
      Northport          ...      168900   168500   166600   164300   163200
      Morris             ...      157800   157800   158200   159000   159700
      Good Hope          ...      112700   112300   110700   109300   108100
      Orange Beach       ...      345400   346500   347700   348000   348900
      Robertsdale        ...      137400   138100   138500   138300   137700
      Cottondale         ...      138000   138000   136100   134000   133400
      Titus              ...      120300   120700   120900   120800   120800
      Leeds              ...      122700   123500   124100   124700   125300
      Homewood           ...      292100   294000   295500   296400   296800
...                      ...         ...      ...      ...      ...      ...
WI    Erin               ...      328200   327900   327800   328500   329300
WV    Nitro              ...       89200    88800    87900    87800    88300
      Eskdale            ...       65400    64800    64300    64600    65100
      Mineral Wells      ...      120400   120500   120800   121100   121300
      Cross Lanes        ...      126900   126400   126300   126400   126300
      Dunbar             ...       77200    76700    76400    76400    76800
      Vienna             ...      106600   106200   106000   106300   107000
      Saint Albans       ...       97500    98400    99000    99000    99300
      South Charleston   ...      106200   106600   106600   106900   108200
      Parkersburg        ...       80800    80700    80400    80000    79900
      Chesapeake         ...       66400    66500    67100    67800    68500
      East Bank          ...       65800    65700    65900    66800    67600
      Belle              ...       75000    74300    73700    73100    73000
      Marmet             ...       68700    69300    69700    69900    70500
      Upper Falls        ...       92100    93300    93400    92900    92000
      Waverly            ...      100000    99600    99200    99700   100400
      Sissonville        ...      101800   102700   104000   105000   105300
      Charleston         ...      102300   103100   104000   104700   105500
      Clendenin          ...       81800    82300    83100    84100    84900
      Washington         ...      129600   130300   131000   131300   131700
      Williamstown       ...      129600   129200   129100   129400   129500
      Davisville         ...       63300    63700    64300    64900    65700
      Coal Fork          ...       70800    70200    69700    70100    71000
      Elkview            ...      101600   102300   102900   103600   104500
WY    Burns              ...      164100   164500   166800   168500   169500
      Bar Nunn           ...      211500   211200   211200   210300   209100
      Evansville         ...      303900   306600   308200   309700   310400
      Cheyenne           ...      190500   191900   193800   194700   194800
      Casper             ...      182300   182600   184000   184500   184500
      Pine Bluffs        ...      169600   169300   168400   166300   165800

                        2016-04  2016-05  2016-06  2016-07  2016-08
State RegionName
AK    Kenai              211200   211800   212000   212100   211800
      Ketchikan          201000   206700   208200   206500   206400
      Anchor Point       161200   162300   161100   161000   161400
      Anchorage          294500   295000   295000   294800   294400
      Palmer             246200   245700   245300   245000   244500
      Seward             213400   215100   215500   215900   214000
      Kodiak             263000   272500   275000   271600   270900
      Tanaina            224200   225100   226300   226000   225000
      Lakes              250200   250000   250600   250700   250400
      North Pole         207300   208100   209100   209400   209200
      Homer              244100   245500   245900   247000   248200
      Soldotna           223600   223300   223100   223000   222200
      Juneau             320500   320100   319200   319000   319400
      Fairbanks          211200   213000   214600   215600   216100
AL    Birmingham          61600    61700    61600    61300    61200
      Gurley             152100   150800   150900   152100   153400
      Fosters            144000   143400   141500   139800   138700
      Hope Hull          135100   134500   134200   135200   136400
      Lipscomb            52000    52000    51800    52000    52200
      Guntersville       144600   145000   144600   144700   145300
      Meadowbrook        269400   270500   270200   269800   269600
      Northport          163200   163100   162200   160500   158600
      Morris             160000   159400   159000   159000   159200
      Good Hope          106900   108100   110700   113100   115100
      Orange Beach       351300   350900   350300   353300   357100
      Robertsdale        137100   136300   135100   134100   133600
      Cottondale         133900   134200   134000   133600   133500
      Titus              120300   118700   117700   117500   117500
      Leeds              125500   125500   125600   125900   126300
      Homewood           296200   295800   296500   298600   300500
...                         ...      ...      ...      ...      ...
WI    Erin               330500   332900   335600   338600   341600
WV    Nitro               88600    88700    89100    89900    90600
      Eskdale             65700    66400    67400    68100    68600
      Mineral Wells      121500   122600   122700   122100   121900
      Cross Lanes        126000   125500   124800   124100   123900
      Dunbar              77200    77000    76200    76100    76500
      Vienna             107800   108800   109700   110500   111100
      Saint Albans       100100   100900   101000   100900   100900
      South Charleston   110200   112100   112700   112900   113000
      Parkersburg         79900    80100    80200    81000    82000
      Chesapeake          69000    69300    68700    68000    67700
      East Bank           67700    67600    68200    69200    69900
      Belle               73500    74300    74400    74400    74700
      Marmet              71800    73500    74600    75300    75800
      Upper Falls         91300    91000    92000    95500    99700
      Waverly            100600   100800   101600   102600   103400
      Sissonville        106400   108000   108500   109300   110400
      Charleston         106600   107400   107400   107700   108600
      Clendenin           86300    87800    88400    88100    88100
      Washington         132400   133100   133700   134900   136100
      Williamstown       129300   129500   130200   130600   130600
      Davisville          66400    66800    67200    68800    70500
      Coal Fork           71800    72800    73500    73300    73100
      Elkview            106100   107700   108800   109700   110700
WY    Burns              171100   172100   171600   170700   170300
      Bar Nunn           209000   209000   208500   207700   207200
      Evansville         310200   308800   308600   308800   309300
      Cheyenne           195500   196400   197600   198800   199400
      Casper             184900   185400   185200   184600   184100
      Pine Bluffs        166600   164500   160300   158000   157300

[10730 rows x 200 columns]

# <center>Question 6

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"